div {
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 100px;
}


.Geo {
    font-size: xx-large;
    font-family: "Geo";
}

.Sixtyfour {
    font-size: xx-large;
    font-family: "Sixtyfour";
}

.VT323 {
    font-size: xx-large;
     font-family: "VT323";
}

.Neovibes {
    font-size: xx-large;
    font-family: "Neovibes";
}

.ToxiGenesis {
    font-size: xx-large;
    font-family: "ToxiGenesis";
}